#node-related folders and files
node_modules

#Bower components
bower_components
npm-debug.log

#intelliJ IDE
*.iml
.idea

# vim
*.swp

# build directories
build/
*/build/

# 3rd-party / dependency files
vendor/
*/vendor/

# don't check in gitana.json files
gitana.json
gitana.json*

composer.lock
composer.phar

customer.*

sessions
sessions/*.json